<button
  type='button'
  class='btn btn-primary button'
  id='my-element-selector'
  data-action='load-more'
>
  <span
    class='spinner-border spinner-border-sm spinner is-hidden'
    role='status'
    aria-hidden='true'
  ></span>

  <span class='label'>Load more</span>
</button>